<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="phobos" value="https://petabridge.myget.org/F/houston_training_tour_2019/auth/b193185d-b218-4a65-a6c9-fa5a98f2d1dc/api/v3/index.json" />
  </packageSources>
</configuration>